@model WebBlogCore5.Models.Role

@{
    ViewData["Title"] = "CHỈNH SỬA QUYỀN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">HOME</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index">QUẢN LÝ QUYỀN</a></li>
        <li class="breadcrumb-item"><a href="#">CHỈNH SỬA</a></li>
    </ol>
    <h6 class="slim-pagetitle">CHỈNH SỬA QUYỀN</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-id="@Model.RoleId" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoleId"/>
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Role Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleName">
                    </div>
                </div><!-- col-6 -->

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleDescription">
                    </div>
                </div><!-- col-6 -->
            </div><!-- row -->

            <div class="form-layout-footer">
                <button class="btn btn-primary bd-0">Lưu thay đổi</button>
                <button class="btn btn-secondary bd-0">Hủy</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->
